@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$ff-primary: 'Montserrat', sans-serif;
$color-blue-100: #060921;
$color-blue-200: #070A20;
$color-white-100: #FFFFFF;
$color-white-200: #FDFDFD;
$color-red-200: #E63946;
$b-radius: 1.25rem;

@mixin table{
    @media screen and (width >= 768px) {
        @content;
    }
}
@mixin desktop{
    @media screen and (width >= 1024px) {
        @content;
    }
}
@mixin desktopMx{
    @media screen and (width >= 1440px) {
        @content;
    }
}

body {
    font-family: $ff-primary;
}

.container {
    width: 90%;
    margin: 0 auto;

    &--12 {
        max-width: 1200px;
    }

    &--9 {
        max-width: 920px;
    }
}

input {
    display: inline-block;
    border: 0;
    background-color: transparent;
    outline: 0;
    font-family: inherit;

}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }

img {
    display: block;
    object-fit: cover;
}

label {
    display: block;
}

.header {
    position: relative;
    background-color: $color-blue-100;
    isolation: isolate;
    overflow: hidden;
    padding: 5rem 0;
    @include desktop(){
        padding: 10rem 0;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        display: none;
        @include table(){
        }
        
        @include desktop(){
            display: initial;
            max-width: 30rem;
            object-position: center left;
            height: 100%;
        }
        
        @include desktopMx(){
            max-width: 46rem;
        }
    }

    &__shadow {
        position: absolute;
        z-index: -1;

        &--1 {
            top: -5rem;
            left: 0;
        }

        &--2 {
            top: -9rem;
            right: 0rem;
            transform: rotate(90deg);
        }

        &--3 {
            bottom: -9rem;
            right: 20rem;
            transform: rotate(-90deg);
        }
    }


    &__title {
        font-size: clamp(2.125rem,5.8vw, 4.25rem);
        font-weight: 700;
        color: transparent;
        background: linear-gradient(180deg, #FFF 22.42%, rgba(255, 255, 255, 0.27) 150.15%);
        background-clip: text;
        margin-bottom: 2rem;
    }

    &__copy {
        color: $color-white-100;
        line-height: 1.67;
        margin-bottom: 1.125rem;
        @include desktop(){
            max-width: 35rem;
        }
        @include desktopMx(){
            max-width: 45rem;
        }

        &--bold {
            font-weight: 700;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.main {
    padding: 4rem 0;

    &__body {
        display: grid;
        gap: 2rem;
    }
}

.instructions {
    padding: min(9vw,3.5rem);
    border-radius: 1.25rem;
    background: linear-gradient(94deg, #6C0C5B -5.92%, #18193A 49.21%, #081A26 122.04%);
    color: white;
    display: grid;
    gap: 1rem;
    @include table(){
        gap: 0;
        grid-template-columns: 1fr 200px;
    }
    @include desktop(){
        grid-template-columns: 1fr 300px;
    }

    &__title {
        font-size: clamp(1.5rem,5vw,2.5rem);
        margin-bottom: 1.5rem;
    }

    &__copy {
        font-size: clamp(1rem,5vw,1.125rem);
        line-height: 1.6;

        &--bold {
            font-weight: 600;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__figure {
        width: 6.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        display: grid;
        place-items: center;
        background-color: rgba(18, 33, 46, 0.50);
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    }

    &__image {
        width: 60%;
    }
}

.phrase {
    padding: min(9vw,3.5rem);
    background-color: $color-blue-100;
    border-radius: $b-radius;
    color: white;

    &__title {
        font-size: clamp(1.5rem,5vw,2.5rem);
        margin-bottom: 1.5rem;
    }

    &__copy {
        line-height: 1.6;
    }
}

.form {
    border-radius: 1.25rem;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px 0px rgba(108, 12, 91, 0.14);
    padding: 2rem;
    color: $color-blue-200;

    &__information {
        position: relative;
        display: grid;
        gap: 1.25rem;
        padding-bottom: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
        &::after {
            position: absolute;
            content: '';
            height: 1px;
            background-image: linear-gradient(94deg, rgba(11, 11, 111, 0.53), rgba(191, 13, 164, 0.10));
            inset: auto 0 0 0;
        }
  
    }

    &__send {
        padding-top: 1.5rem;
        &-content {
            position: relative;
            margin-bottom: 2rem;
            display: grid;
            @include table(){
                grid-template-columns: repeat(3, 1fr);
            }
            gap: 1.25rem;
            &.error{
                .form__alert{
                    opacity: 1;
                }
                .form__input{
                    border: 1px solid $color-red-200;
                    &::placeholder{
                        color: $color-red-200;
                    }
                }
                .form__label{
                    color: $color-red-200;
                }
            }
        }
    }
    &__alert{
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(150%);
        font-size: .875rem;
        font-weight: 500;
        color: $color-red-200;
        transition: all 0.4s;
        opacity: 0;
    }

    &__label {
        font-size: .875rem;
        font-weight: 500;
        margin-bottom: .25rem;
        transition: all 0.4s ease;
        &--email,
        &--password {
            margin-bottom: .5rem;
        }
    }

    &__input {
        font-size: 1.25rem;
        font-weight: 700;

        &--email,
        &--password {
            height: 44px;
            border-radius: 0.375rem;
            border: 1px solid #CBD5E1;
            padding: 0 .5rem;
            font-size: .875rem;
            font-weight: 500;
            width: 100%;
            transition: all 0.4s ease;
            &:is(:hover,:focus) {
                border: 1px solid $color-blue-100;
            }

        }

        &::placeholder {
            font-size: .875rem;
            color: #D1D5DB;
            font-weight: 500;

        }

        &:disabled {
            color: $color-blue-200;
        }
    }

    &__submit {
        display: block;
        padding: 1rem 2rem;
        border-radius: 1.875rem;
        background: linear-gradient(94deg, #6C0C5B -5.92%, #18193A 49.21%, #081A26 122.04%);
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
        font-size: 1rem;
        margin-left: auto;
        cursor: pointer;
        width: 100%;
        @include table(){
            width: inherit;
        }
        &:hover{
            background: linear-gradient(274deg, #6C0C5B -0.67%, #18193A 55.33%, #081A26 129.3%);
            
        }
    }

}